body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: auto;
  height: 100vh;
  background-color: var(--color-cream);
}

.card {
  margin: 0 1em;
  background-color: var(--color-white);
  .card__media {
  }

  .card__image {
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    width: 100%;
  }
  .card__category {
    text-transform: uppercase;
    font-family: var(--font-body);
    font-size: var(--font-size-4);
    color: var(--color-gray);
    letter-spacing: var(--letter-spacing-wide);
    line-height: var(--line-height-120);
  }
  .card__title {
    font-family: var(--font-heading);
    font-size: var(--font-size-1);
    color: var(--color-black);
    letter-spacing: var(--letter-spacing-normal);
    line-height: var(--line-height-100);
  }
}
