body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: auto;
  height: 100vh;
  background-color: var(--color-cream);
}

.card {
  margin: 0 1em;
  background-color: var(--color-white);

  .card__image {
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    width: 100%;
  }
  .card__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 1em 2.4em;
  }
  .card__category {
    text-transform: uppercase;
    font-family: var(--font-body);
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-medium);
    color: var(--color-gray);
    letter-spacing: var(--letter-spacing-wide);
    line-height: var(--line-height-120);
  }
  .card__title {
    font-weight: var(--font-weight-bold);
    font-family: var(--font-heading);
    font-size: var(--font-size-1);
    color: var(--color-black);
    letter-spacing: var(--letter-spacing-normal);
    line-height: var(--line-height-100);
  }
  .card__description {
    color: var(--color-gray);
    font-weight: var(--font-weight-medium);
    font-family: var(--font-body);
    font-size: var(--font-size-2);
    line-height: var(--line-height-160);
    letter-spacing: var(--letter-spacing-normal);
  }
  .card__price {
    display: flex;
    align-items: center;
    gap: 24px;
    .card__price--cut {
      font-size: var(--font-size-1);
      font-family: var(--font-heading);
      line-height: var(--line-height-100);
      font-weight: var(--font-weight-bold);
      color: var(--color-green-500);
    }
    .card__price--regural {
      font-size: var(--font-size-5);
      font-family: var(--font-body);
      line-height: var(--line-height-100);
      font-weight: var(--font-weight-medium);
      color: var(--color-gray);
    }
  }
  .card__btn {
    display: flex;
    justify-content: center;
    gap: 8px;
    background-color: var(--color-green-500);
    color: var(--color-white);
    font-family: var(--font-body);
    font-weight: var(--font-weight-bold);
    padding: 1em 2em;
    border-radius: 8px;
    border: none;
  }
}
